.container {
  height: 100vh;
  place-items: center;
  display: grid;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.text {
  font-size: clamp(1rem, 10vw, 2rem);
}

.pencil {
  position: fixed;
  top: 20px;
  left: 20px;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
